mark
{
    background-color: #fffdb1;
    border: 1px solid yellow;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.resultList
{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.resultList>li>a
{
    line-height: 20px;
    color: black;
    border: 1px solid gainsboro;
}

.resultList .title
{
    font-weight: bold;
    border-bottom: 1px solid silver;
    padding: 0 0 4px 0;
    margin-bottom: 10px;
}

.resultList .type
{
    margin-right: 0.5ex;
}

.resultList .function
{
    font-family: monospace;
    font-size: 10pt;
}

.resultList li
{
    margin-bottom: 1em;
}

.tab-content
{
    overflow: visible;
    margin-bottom: 200px;
}

.stepList .stepTypeButton.btn-group
{
    width: 75px;
}

.stepList .stepTypeButton.btn-group .btn
{
    width: 75px;
}

.stepList div.row
{
    margin-left: 85px;
    margin-right: 127px;
}

.stepList div.row input
{
    width: 100%;
}

.stepList > li
{
    color: #666;
    border-color: #DDD;
    background-color: #F0F0F0;
    margin-bottom: 5px;
}

.zeroclipboard-is-hover
{
    color: #ffffff;
    background-color: #0044cc;
    background-image: none;
}

.zeroclipboard-is-active
{
    color: #ffffff;
    background-color: #003399;
    background-image: none;
}

.btn-mini .caret
{
    margin-top: 8px;
}

input.shortText
{
    margin-bottom: 0;
}

.longTextContainer
{
    margin-left: 79px;
    margin-right: 14px;
    margin-top: 10px;
}

textarea.longText
{
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    font-family: monospace;
}
